<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1b415c;">
    <a class="navbar-brand" href="#">Aplicacion Angular</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item" [routerLink]="ruta.path" *ngFor="let ruta of rutas" >
                <a class="nav-link active"  aria-current="page">{{ruta.name}} <span class="visually-hidden">(current)</span></a>
            </li>                   
        </ul>      
    </div>
</nav>